@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
    font-family: 'Karla', sans-serif;
}

h1, h2{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

h5{
    font-family: 'Karla', sans-serif;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.tarjeta{
    text-decoration: none;
    transition: all .5s ease; /* back to normal */
}

.tarjeta:hover{
    text-decoration: none;
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease; /* zoom in */
}